.wrapper {
  min-height: 100vh;
  background: rgb(97, 87, 209);
  background: linear-gradient(
    90deg,
    rgba(97, 87, 209, 1) 0%,
    rgba(152, 95, 200, 1) 67%,
    rgba(190, 100, 191, 1) 100%
  );
}

.container {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 15px;
  }
}

.heading {
  padding: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
