.container {
  max-width: 100%;
  padding: 25px 20px;
  background-color: white;
}

.clearButton {
  margin-left: auto;
  border: none;
  background-color: inherit;
  color: #ff494c;
  cursor: pointer;
}

.error {
  text-align: center;
}