.container {
  max-width: 100%;
  padding: 25px 20px;
  background-color: white;
}

.clearButton {
  margin-left: auto;
  border: none;
  background-color: inherit;
  color: #6157d1;
  cursor: pointer;
}

.error {
  text-align: center;
}

.completedTitle {
  font-size: 90%;
  text-align: center;
  padding: 5 px;
  margin-top: 5px;
  opacity: 60%;
  cursor: pointer;

}